<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/main.css"/>
</head>

<body>
	<div class="container">

		<div class="row col-10 mt-4">
			<h1>The Awesome Website of Awesome</h1>
		</div>

		<div class="row col-10 pb-2 mb-2 border-bottom">
		<% if (locals.user) { %>
			Welcome, <%= user.username %>!
			(<a href="/logout"><em>logout</em></a>)
		<% } else { %>
			Welcome, Filthy, Filthy, Guest!
		<% } %>
		</div>

		<% if (locals.user) { %>
			<div class="row col-10">
				<p>This is content that only important people with accounts can see.
				At least that's what we want you to believe. The part where you're
				important to us, I mean. Because signing up for an account with some
				public email address is a sure sign that you're a real treasure.</p>
			</div>
		<% } else { %>
			<div class="row col-10">
				<p>This is content that anyone can see. Even you. Clearly it's
				not something we care much about. You can tell the important stuff
				because you're not looking at it.</p>
			</div>
	
			<div class="row col-10">
				<p>Maybe you should <a href="/login">Login</a> or <a href="/register">Signup</a>.</p>
			</div>
		<% } %>

		<div class="row col-10">
			<p>Here's a link to the <a href="/content">Awesome Stuff</a>.</p>
		</div>

		</div>
	</div>
</body>

</html>

