<div class="container">

<div class="pb-2 mt-4 mb-2">
	<h1>Say My Name</h1>
</div>

<div>
  <p>This is the post-POST confirmation page. The name is right there in the request you sent. It was all like:</p>

  <pre>
    You: My name is {{nameFromBody}}. Say it!
    Me: Okay...your name is {{nameFromBody}}
  </pre>
</div>

<div>
  <p>Now though, I am setting a cookie called nameCookie, which is stored in your local browser and sent back along with any request to this server (aka <em>domain</em>, in this cast <code>http://localhost:8080</code>). Cookies can also be restricted to only be sent back to a certain path.</p>

  <p>If you look at your Network panel, you can see the Response Headers for this page included a 'Set-Cookie' header for <code>nameCookie</code>. (<em>Response</em> because the cookies are going from server to client).</p>
</div>

<div>
  <p>Now though, I am creating a <code>session</code>. The session stores key-value pairs (associative array!) <strong>on the server</strong> and sends you a <code>session id</code> (a cookie). You send that back with every request and the server can look up who you are and retrieve your stuff, thus creating a <em>stateful</em> conversation.</p>

  <p>If you look at your Network panel, you can see the Response Headers for this page included a 'Set-Cookie' header for <code>connect.sid</code>. (<em>Response</em> because the cookies are going from server to client).</p>
</div>

<div>
  <p><a href="nameContinue">Continue On...</a></p>
</div>

<div>
  <p><a href="name">(Go back)</a></p>
</div>

</div>
