<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/main.css"/>
</head>

<body>
  <div class="container">

  <div class="pb-2 mt-4 mb-2">
    <h1>Say My Name</h1>
  </div>

  <div>
    <p>This is the name posting form. It posts the name.</p>
  </div>

  <form method="POST" action="namePost">
    <div class="form-group">
      <input type="text" class="form-control" name="myName" placeholder="SAY IT"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  </div>
</body>

</html>