<div class="container">

<div class="pb-2 mt-4 mb-2">
	<h1>Password</h1>
</div>

<div>
	<p>Your password is <code>{{password}}</code>. You should be more careful with that.</p>
</div>

<div>
  <p>Hashed using <code>bcrypt.hash</code>, it is:</p>
  <pre>{{hash}}</pre>
</div>

<div>
  <p>The hash string format is:</p>
  <pre>$[algorithm]$[iterations (cost)]$[22-char salt][31-char hash]</pre>
</div>

<div>
  <p>Hit reload and you'll see that the hash keeps changing. That's because the random salt keeps changing. If you hash the same password twice with <code>bcrypt.hash</code> and compare the results, they won't match.</p>
</div>

<div>
  <p>Instead, the encryption library provides <code>bcrypt.compare</code> which takes a hash and a password to compare. It follows these steps:
    <ul>
      <li>Read the algorithm, iterations, and salt from the hash</li>
      <li>Use those settings to hash the password</li>
      <li>Compare the result to the hash</li>
    </ul>
  </p>

  <p>Compare is {{compare}}</p>
</div>