<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/main.css"/>
</head>

<body>
  <div class="container">

    <div class="pb-2 mt-4 mb-2">
      <h1>Password</h1>
    </div>
    
    <div>
      <p>Tell me your password. No really, it's cool.</p>
    </div>
    
    <form method="POST" action="hashword">
      <div class="form-group">
        <input type="password" class="form-control" name="password"/>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    </div>
</body>

</html>

